<div class="player">
    <audio #audioPlayer controls muted>
        <source [src]="selectedStation?.url_resolved">
    </audio>

    <img [src]="selectedStation?.favicon" alt="logo da radio">

    <strong> {{ selectedStation?.name }} </strong>
    <section class="controls">
        <button (click)="play()">&#x23ee;</button>
        <button (click)="play()" *ngIf="playing">&#x23f8;</button>
        <button (click)="play()" *ngIf="!playing">&#x23F5;</button>
        <button (click)="play()">&#x23ed;</button>
    </section>
</div>
