.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    h1 
        margin: 1rem 0

    .stations
        display: flex
        flex-direction: column
        justify-content: center

    .card
        padding: 0.4rem
        margin: 0.2rem 0
        border: 1px solid red
        border-radius: 5px  
